<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="logo">
            <div class="logo_img" style="margin-right:20px"><img src="/nxService/img/logo_infotech.png"></div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.infotech.co.kr/home/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Q&A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scraping">DataScraping</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ScrapingData
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" onclick="loadDoc('127.0.0.1:8080/api/getInputData/ht001')">[홈택스] 휴폐업조회</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><!--Disabled--></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->

{{#msg}}
    <div class="alert alert-primary alert-dismissible">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/msg}}


<script type="text/javascript">
/*
    function hrefTest(){
        //window.location.href="https://solution.ktaxnara.com";
        window.location.href="https://114.203.110.97:19036/";
    }
    $.support.cors = true;
*/
    function loadDoc(sUrl) {
        alert(sUrl);
        var pd = $("textarea#tx_input").val();
        $("textarea#tx_output").val("---------- send ----------");
        $.ajax({
            type: "POST",
            url: sUrl,
            data: pd,
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            crossDomain: true,
            crossOrigin: true,
            success: function(data) {
                // console.log(data);
                print_receive(data);
            },
            error: function(xhr, status, error) {
                $("textarea#tx_output").val("---------- result ----------\n");
                $("textarea#tx_output").val(status)
                if (sUrl.indexOf("op=setup") != -1) {
                    fnNxDownload("../ExAdapter_Web_Setup_20221130.exe");
                    if (browserName == "Mozilla Firefox") {
                        alert("설치가 완료된 후에 브라우저를 닫고, 다시 시작하여 이용하시기 바랍니다.(Firefox browser)");
                    }
                }
            }
        });
    }

/*
    $(function () {
        $("input[id=signPw]").keydown(function(key){
            if(key.keyCode == 13){ // 레이어 창에서 Enter 키 입력시
                selectedCert.signPw = $('#signPw').val();
                if (selectedCert.signCert === undefined ||selectedCert.signCert === null){
                    alert("인증서를 선택해주세요");
                    return false;
                } else if(selectedCert.signPw === undefined || selectedCert.signPw === null || selectedCert.signPw === ''){
                    alert("인증서 비밀번호를 입력해주세요")
                    return false;
                } else {
                    getCertResult();
                    $("#tbody").empty();
                    $('#signPw').val('');
                    $('.dim-layer').fadeOut("fast"); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                    return false;
                }
            }
        });

        $('button#certConfirm').click(function(){
            selectedCert.signPw = $('#signPw').val();
            if (selectedCert.signCert === undefined ||selectedCert.signCert === null){
                alert("인증서를 선택해주세요");
                return false;
            } else if(selectedCert.signPw === undefined || selectedCert.signPw === null || selectedCert.signPw === ''){
                alert("인증서 비밀번호를 입력해주세요")
                return false;
            } else {
                getCertResult();
                $("#tbody").empty();
                $('#signPw').val('');
                $('.dim-layer').fadeOut("fast"); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                var emptyObj = new Object();
                selectedCert = emptyObj;
                return false;
            }
        });
    })
*/
</script>