<!--<div class="mb-5 container-fluid">
    <hr>
    <p>(c) CloudStudying | <a href="#">Privacy</a> | <a href="#">Terms</a> </p>
</div>-->
<html xmlns:th="http://www.thymeleaf.org">
    <footer class="footer" th:fragment="commonFooter">
        <div class="mb-5 container-fluid">
            <hr>
            <div class="c_info">
                <p class="comp_text"><strong>인포텍코퍼레이션㈜</strong>
                    <span>Tel</span>&nbsp;&nbsp;l&nbsp;02-598-6565
                    <span>Fax</span>&nbsp;&nbsp;l&nbsp;02-558-8210
                    <span>E-mail</span>&nbsp;l&nbsp;tech_support@infotech.co.kr
                </p>
            </div>
            <div class="copyright">
                <p class="copy_text">Ⓒ Infotech Corporation.All rights reserved.</p>
            </div>
        </div>
    </footer>
</html>