<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>show</title>
</head>
<body>
    <div th:replace="fragment/header :: commonHeader"></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="d : ${articleEntityList}">
                <th th:text="${d.id}"></th>
                <td><a th:href="'/articles/'+${d.id}" th:text="${d.title}"></a></td>
                <td th:text="${d.content}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/articles/new">New Articles</a>
    <div th:replace="fragment/footer :: commonFooter"></div>
</body>
</html>