<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secondProject.mapper.ScrapingMapper">

    <select id="findById"><![CDATA[
        select * from cmminput where svcId = #{svcId}
    ]]></select>

    <select id="getSelectMainMenu"><![CDATA[
        SELECT orgCd, orgNm FROM cmminput GROUP BY orgNm;
    ]]></select>

    <select id="getSelectSubMenu"><![CDATA[
        SELECT orgCd, orgNm, bigo, svcId FROM cmminput
    ]]></select>

</mapper>